@model Diploma.Models.New

@{
    ViewBag.Title = "Удалить новость";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удалить новость</h2>

<form method="post" action="admin/deletenew">
    <p>Точно удалить хочешь новость @Model.Title  ?</p>
    <input type="submit" value="Удалить"/>
</form>


<br />
<br />
@Html.ActionLink("Вернуться", "Index")

