@model IEnumerable<Diploma.Models.Email>

<h5 class="mt-2">Рассылки</h5><a class="anchor" name="mailing"></a>
<div class="row grid-responsive">
    <div class="column ">
        <div class="card">
            <div class="card-title">
                <h3>Список пользователей на рассылку</h3>
            </div>
            <div class="card-block">
                <table>
                    <thead>
                        <tr>
                            <th>ФИО Пользователя</th>
                            <th>Почта</th>
                            <th>Группа рассылки</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var n in Model)
                        {
                            <tr>
                                <td>@n.Name</td>
                                <td>@n.Mail</td>
                                <td>@n.Recipient.Title</td>
                                <td> <a href="/Admin/DeleteEmail?id=@n.ID">Удалить</a> </td> 
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
