@model IEnumerable<Diploma.Models.Email>

<h5 class="mt-2">Рассылки</h5><a class="anchor" name="mailing"></a>
<div class="row grid-responsive">
    <div class="column ">
        <div class="card">
            <div class="card-title" style="position: relative; height: 63px;">
                <h3 style="position: absolute;">Список пользователей на рассылку</h3>
                <a href="/Admin/SearchEmails" class="card-block" style="position: absolute; right: 20px;">Все почты</a>
            </div>
            <div class="card-block">
                <table>
                    <thead>
                        <tr>
                            <th>ФИО Пользователя</th>
                            <th>Почта</th>
                            <th>Группа рассылки</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var n in Model)
                        {
                        <tr>
                            <td>@n.Name</td>
                            <td>@n.Mail</td>
                            <td>@n.Recipient.Title</td>
                            <td>@Html.ActionLink("Удалить", "DeleteEmail", "Admin", new { id = n.ID },
                                new { onclick = "return confirm('Вы уверены, что отписать эту почту от рассылки?');" })
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
