@model IEnumerable<Diploma.Models.New>

<h5 class="mt-2">Новости</h5><a class="anchor" name="news"></a>
<div class="row grid-responsive">
    <div class="column ">
        <div class="card">
            <div class="card-title">
                <h3>Список новостей</h3>
            </div>
            <div class="card-block">
                <table>
                    <thead>
                        <tr>
                            <th>Заголовок</th>
                            <th>Дата</th>
                            <th>Категория</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var n in Model)
                        {
                            <tr>
                                <td>@n.Title</td>
                                <td>@n.Date.ToShortDateString()</td>
                                <td>@n.Category.Title</td>
                                <td> <a href="/Admin/EditNew?id=@n.ID">Редактировать</a> </td>
                                <td> <a href="/Admin/DeleteNew?id=@n.ID">Удалить</a> </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>