@model IEnumerable<Diploma.Models.Notification>

<h5 class="mt-2">Объявления</h5><a class="anchor" name="warning"></a>
<div class="row grid-responsive">
    <div class="column ">
        <div class="card">
            <div class="card-title" style="position: relative; height: 63px;">
                <h3 style="position: absolute;">Список объявлений</h3>
                <a href="/Admin/GetAllNotificationsList" class="card-block" style="position: absolute; right: 20px;">Все объявления</a>
            </div>
            <div class="card-block">
                <table>
                    <thead>
                        <tr>
                            <th>Заголовок</th>
                            <th>Дата</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var n in Model)
                            {
                            <tr>
                                <td>@n.Title</td>
                                <td>@n.Date.ToShortDateString()</td>
                                <td> <a href="/Admin/EditNotification?id=@n.ID">Редактировать</a> </td>
                                <td>@Html.ActionLink("Удалить", "DeleteNotification", "Admin", new { id = n.ID },
                                   new { onclick = "return confirm('Вы уверены, что хотите удалить это объявление?');" }) </td>
                            </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
