@model IEnumerable<Diploma.Models.New>

<table>
    <tr>
        <th>Заголовок</th>
        <th>Дата</th>
        <th>Категория</th>
    </tr>
    @foreach (var n in Model)
    {
        <tr>
            <td>@n.Title</td>
            <td>@n.Date.ToShortDateString()</td>
            <td>@n.Category.Title</td>
            <td> <a href="/admin/editnew/@n.ID">Редактировать</a> </td>
            <td> <a href="/admin/deletenew/@n.ID">Удалить</a> </td>
        </tr>
    }
</table>