@model IEnumerable<Diploma.Models.ApplicationUser>

@*<table>
        <tr>
            <th>ФИО Пользователя</th>
            <th>Логин</th>
            <th></th>
        </tr>
        @foreach (var n in Model)
        {
            <tr>
                <td> </td>
                <td>@n.UserName</td>
                <td> </td>
            </tr>
        }
    </table>*@

<h5 class="mt-2">Пользователи</h5><a class="anchor" name="users"></a>
<div class="row grid-responsive">
    <div class="column ">
        <div class="card">
            <div class="card-title">
                <h3>Список зарегистрированных пользователей в системе</h3>
            </div>
            <div class="card-block">
                <table>
                    <thead>
                        <tr>
                            <th>ФИО Пользователя</th>
                            <th>Логин</th>
                            <th>E-mail</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var n in Model)
                        {
                        <tr>
                            <td></td> @*Добавить имя пользователя*@
                            <td>@n.UserName</td>
                            <td></td>@*Добавить E-mail*@
                            <td><input class="button button-clear" type="submit" value="Удалить"></td>
                        </tr>
                        }
                        
                        </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
