@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
*{
	margin: 0;
	padding: 0;
}
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
 }
li{
    text-decoration: none;
    list-style: none;
}

/*******ШАПКА*********/
header{
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    flex: 0 0 auto;
    width: 100%; 
    display: flex;
    justify-content: center;
    padding-bottom: 35px;
}


.header_logo{
	text-transform: uppercase;
	color:#393939;;
	font-size: 21px;
	font-weight: 500;
	cursor: pointer;
	margin-top: 38px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;
	margin-right: 150px;
}

nav{
	margin-top: 38px;
	margin-right:284px; /*отступ от значка поиска*/
	padding-bottom: 5.5px;
}
.header_menu a{
	color: #393939;
	text-align:center;
	font-size: 16px;
	font-weight: 500;
	padding-right: 22px;
	padding-left: 22px;
	display: inline-block;
	position: relative;
}

.header_menu a:after {
    display: block;
    content: "";
    background-color: #2DFF81;
    height: 2.5px;
    width: 0%;
    left: 50%;
    bottom:-30%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
.header_menu a:hover:after,
.header_menu a:focus:after {
    width: 30%;
}
.buttonsearch {
  background-color: transparent;
  padding: 1rem 2rem;
  border: 0;
  color: #f1f1f1;
  font-size: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 5px;
  transition: all .4s;
  outline: 0;
  cursor: pointer;
}

    .buttonsearch:hover {
      background-color: transparent;
      transform: translateY(5px);
    }

    .buttonsearch:active {
      background-color:transparent;
      transform: translateY(5px);
    }

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: lightblue;
  background-color: #120F37;
  transition: all .1s;
  opacity: 0;
  z-index: -1;
  
}

.message {
      font-size: 5rem;
      margin: 8rem 1rem 2rem;
    }
  
.close-btn {
      padding: 1rem;
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      font-size: 1.5rem;
      color: #222;
      background-color: rgba(250, 250, 250, 0.3);
      border: 0;
      outline: 0;

 }
.close-btn:hover {
	background-color:rgba(35, 202, 102, 0.8);
} 


.modal-is-open {
  opacity: 0.95;
  z-index: 1;
}


.form-wrapper {
    background-color: #f6f6f6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eae8e8));
    background-image: -webkit-linear-gradient(top, #f6f6f6, #eae8e8);
    background-image: -moz-linear-gradient(top, #f6f6f6, #eae8e8);
    background-image: -ms-linear-gradient(top, #f6f6f6, #eae8e8);
    background-image: -o-linear-gradient(top, #f6f6f6, #eae8e8);
    background-image: linear-gradient(top, #f6f6f6, #eae8e8);
    border-color: #dedede #bababa #aaa #bababa;
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
    -moz-box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
    box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
    margin: 100px auto;
    overflow: hidden;
    padding: 8px;
    width: 450px;
}

.form-wrapper #search {
    border: 1px solid #CCC;
    -webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
    -moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
    box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  color: #999;
    float: left;
    height: 20px;
    padding: 10px;
    width: 320px;
}

.form-wrapper #search:focus {
    border-color: #aaa;
    -webkit-box-shadow: 0 1px 1px #bbb inset;
    -moz-box-shadow: 0 1px 1px #bbb inset;
    box-shadow: 0 1px 1px #bbb inset;
    outline: 0;
}

.form-wrapper #search:-moz-placeholder,
.form-wrapper #search:-ms-input-placeholder,
.form-wrapper #search::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
}

.form-wrapper #submit {
    background-color: #120F37;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1F1A53), to(#120F37));
    background-image: -webkit-linear-gradient(top, #1F1A53, #120F37);
    background-image: -moz-linear-gradient(top, #1F1A53, #120F37);
    background-image: -ms-linear-gradient(top, #1F1A53, #120F37);
    background-image: -o-linear-gradient(top, #1F1A53, #120F37);
    background-image: linear-gradient(top, #1F1A53, #120F37);
    border: 1px solid #120F37;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
    color: #fafafa;
    cursor: pointer;
    height: 42px;
    float: right;
    font: 15px Arial, Helvetica;
    padding: 0;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0 ,0, .3);
    width: 100px;
}

.form-wrapper #submit:hover,
.form-wrapper #submit:focus {
    background-color: #1F1A53;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#120F37), to(#31b2c3));
    background-image: -webkit-linear-gradient(top, #120F37, #1F1A53);
    background-image: -moz-linear-gradient(top, #120F37, #1F1A53);
    background-image: -ms-linear-gradient(top, #120F37, #1F1A53);
    background-image: -o-linear-gradient(top, #120F37, #1F1A53);
    background-image: linear-gradient(top, #120F37, #1F1A53);
}

.form-wrapper #submit:active {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    outline: 0;
}

.form-wrapper #submit::-moz-focus-inner {
    border: 0;
}

/*******Контент********/  
main{
  flex: 1 0 auto;
  
}
.breadcr{
	display: grid;
  	grid-template-columns: 1160px;
  	justify-content: center;
  	background: #f3f6fd;
  	margin-bottom: 31px;
}
.breadcrumbs {
  padding: 17px 0px 17px 0px;
  display: block;
}
.breadcrumbs li {
  display: inline-block;
}
.breadcrumbs li a {
  position: relative;
  font-size: 15px;
  color: #507c80;
  padding-right: 20px;
  margin-right: 10px;
  text-decoration: none;
}
.breadcrumbs li a:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-left: 5px solid #24d76b;
  border-bottom: 5px solid transparent;
  position: absolute;
  top: 4px;
  right: 0;
  display: block;
}
.breadcrumbs li:last-of-type a {
  color: #434343;
  font-weight: bold;
}
.breadcrumbs li:last-of-type a:after {
  display: none;
}

.newsmain{
  display: grid;
  grid-template-columns: 862px 348px;
  justify-content: center;
}

.newslist{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.news_item{
  width: 400px;
  height: 404.21px;
  margin: 0px 10px 10px 10px;
}

.newsimg{
  width: 400px;
  height: 236.41px;
  background: grey;
  border-radius: 15px;
  color: #fff;
  font-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 0 5px;
}
.news_overlay{
  opacity: 0;
  position: absolute;
  top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;  
}
.news_overlay:hover{
  background: linear-gradient(0deg, rgba(35, 202, 102, 0.8), rgba(35, 202, 102, 0.8));
  opacity: 0.87;

}

.category1{
  margin-top: 15px;
  margin-left: 6px;
}
.nameachi{
  border-radius: 5px;
  letter-spacing: 0.08em;
  font-size: 12px;
  font-weight: bold;
  line-height: 13px;
  color: #FFFFFF;
  padding:5px 12px 5px 12px;
  border: 1.5px solid rgba(214, 16, 16, 0.87);
  text-transform: uppercase;
  background-color: rgba(214, 16, 16, 0.87);
}

.nameachi:hover{
  color: rgba(214, 16, 16, 0.87);
  border: 1.5px solid rgba(214, 16, 16, 0.87)9;
  background-color: #fff;
}

.category2{
  margin-top: 15px;
  margin-left: 6px;
}
.namecult{
  border-radius: 5px;
  letter-spacing: 0.08em;
  font-size: 12px;
  font-weight: bold;
  line-height: 13px;
  color: #FFFFFF;
  padding:5px 12px 5px 12px;
  border: 1.5px solid rgba(0, 179, 82, 0.87);
  text-transform: uppercase;
  background-color: rgba(0, 179, 82, 0.87);
}

.namecult:hover{
  color: rgba(0, 179, 82, 0.87);
  border: 1.5px solid rgba(0, 179, 82, 0.87);
  background-color: #fff;
}


.category3{
  margin-top: 15px;
  margin-left: 6px;
}
.nameinter{
  border-radius: 5px;
  letter-spacing: 0.08em;
  font-size: 12px;
  font-weight: bold;
  line-height: 13px;
  color: #FFFFFF;
  padding:5px 12px 5px 12px;
  border: 1.5px solid rgba(0, 111, 192, 0.87);
  text-transform: uppercase;
  background-color: rgba(0, 111, 192, 0.87);
}

.nameinter:hover{
  color: rgba(0, 111, 192, 0.87);
  border: 1.5px solid rgba(0, 111, 192, 0.87);
  background-color: #fff;
}


.category4{
  margin-top: 15px;
  margin-left: 6px;
}
.namesci{
  border-radius: 5px;
  letter-spacing: 0.08em;
  font-size: 12px;
  font-weight: bold;
  line-height: 13px;
  color: #FFFFFF;
  padding:5px 12px 5px 12px;
  border: 1.5px solid #26b1c4;
  text-transform: uppercase;
  background-color: #26b1c4;
}

.namesci:hover{
  color: #26b1c4;
  border: 1.5px solid #26b1c4;
  background-color: #fff;
}


.category5{
  margin-top: 15px;
  margin-left: 6px;
}
.nameform{
  border-radius: 5px;
  letter-spacing: 0.08em;
  font-size: 12px;
  font-weight: bold;
  line-height: 13px;
  color: #FFFFFF;
  padding:5px 12px 5px 12px;
  border: 1.5px solid #dc217a;
  text-transform: uppercase;
  background-color: #dc217a;
}

.nameform:hover{
  color: #dc217a;
  border: 1.5px solid #dc217a;
  background-color: #fff;
}


.category6{
  margin-top: 15px;
  margin-left: 6px;
}
.namepartner{
  border-radius: 5px;
  letter-spacing: 0.08em;
  font-size: 12px;
  font-weight: bold;
  line-height: 13px;
  color: #FFFFFF;
  padding:5px 12px 5px 12px;
  border: 1.5px solid #e3b510;
  text-transform: uppercase;
  background-color: #e3b510;
}

.namepartner:hover{
  color: #e3b510;
  border: 1.5px solid #e3b510;
  background-color: #fff;
}


.category7{
  margin-top: 15px;
  margin-left: 6px;
}
.namesport{
  border-radius: 5px;
  letter-spacing: 0.08em;
  font-size: 12px;
  font-weight: bold;
  line-height: 13px;
  color: #FFFFFF;
  padding:5px 12px 5px 12px;
  border: 1.5px solid #e15d14;
  text-transform: uppercase;
  background-color: #e15d14;
}

.namesport:hover{
  color: #e15d14;
  border: 1.5px solid #e15d14;
  background-color: #fff;
}


.category8{
  margin-top: 15px;
  margin-left: 6px;
}
.nameuniver{
  border-radius: 5px;
  letter-spacing: 0.08em;
  font-size: 12px;
  font-weight: bold;
  line-height: 13px;
  color: #FFFFFF;
  padding:5px 12px 5px 12px;
  border: 1.5px solid #e15d50;
  text-transform: uppercase;
  background-color: #e15d50;
}

.nameuniver:hover{
  color: #e15d50;
  border: 1.5px solid #e15d50;
  background-color: #fff;
}

.newsbtn {
  padding-top:23px;
  padding-left:6px;
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #222222;
}

.newsbtn:hover{
  color: #23CA66;
}

.news_item p{
  padding-top:22px;
  padding-left:6px;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #222222;
  opacity: 0.7;
}

.categorys{
  width: 318px;
  height: 570px;
  background: #F3F6FD;;
  border-radius: 15px;
  font-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 0 5px;
  margin-bottom:200px;
}
.catcontent {
  position: relative;
  color: #000000;
  display: grid;
}

.catcontent p{
  padding-top: 37px;
  padding-bottom:31px;
  padding-left: 34px;
  font-weight: bold;
  font-size: 21px;
  line-height: 100%;
  letter-spacing: 0.02em;
}
.catcontent ul li{
  margin-bottom: 15px;
}
.catcontent ul li a{
  padding-left: 34px;
  font-weight: 600;
  font-size: 15px;
  line-height: 15px;
  color: #000000;
}

.line{
  margin-left:34px;
  margin-bottom:15px;
  width:250px;
  border-top:1px solid #DBE0EC;
  padding-left:10px
}
.allcat{
  display: flex;
  justify-content: flex-end;
}
.circle1 {
  position: relative;
  height: 7px;
  width: 7px;
  background-color: #B0B0B0;
  border-radius: 50%;
  margin-top: 8px;
  margin-right: 42px;
  margin-left: 133px;
}
.allcat:hover .circle1:before{
  position: absolute;
  content: '';
  height: calc(5% + 10px); 
  width: calc(5% + 10px); 
  border: 1px dashed #B0B0B0;
  top: -2.5px;
  left: -2.5px;
  border-radius: inherit;
  animation: spin 10s linear infinite;
}
.achicat{
  display: flex;
  justify-content: flex-end;
}
.circle2 {
  position: relative;
  height: 7px;
  width: 7px;
  background-color: rgba(214, 16, 16, 0.87);
  border-radius: 50%;
  margin-top: 8px;
  margin-right: 42px;
  margin-left: 145px;
}

.achicat:hover .circle2:before{
  position: absolute;
  content: '';
  height: calc(5% + 10px); 
  width: calc(5% + 10px); 
  border: 1px dashed rgba(214, 16, 16, 0.87);
  top: -2.5px;
  left: -2.5px;
  border-radius: inherit;
  animation: spin 10s linear infinite;
}
.cultcat{
  display: flex;
  justify-content: flex-end;
}
.circle3 {
  position: relative;
  height: 7px;
  width: 7px;
  background-color: rgba(0, 179, 82, 0.87);
  border-radius: 50%;
  margin-top: 8px;
  margin-right: 42px;
  margin-left: 170px;
}

.cultcat:hover .circle3:before{
  position: absolute;
  content: '';
  height: calc(5% + 10px); 
  width: calc(5% + 10px); 
  border: 1px dashed rgba(0, 179, 82, 0.87);
  top: -2.5px;
  left: -2.5px;
  border-radius: inherit;
  animation: spin 10s linear infinite;
}
.intercat{
  display: flex;
  justify-content: flex-end;
}
.circle4{
  position: relative;
  height: 7px;
  width: 7px;
  background-color: rgba(0, 111, 192, 0.87);
  border-radius: 50%;
  margin-top: 8px;
  margin-right: 42px;
  margin-left: 16px;
}

.intercat:hover .circle4:before{
  position: absolute;
  content: '';
  height: calc(5% + 10px); 
  width: calc(5% + 10px); 
  border: 1px dashed rgba(0, 111, 192, 0.87);
  top: -2.5px;
  left: -2.5px;
  border-radius: inherit;
  animation: spin 10s linear infinite;
}
.scicat{
  display: flex;
  justify-content: flex-end;
}
.circle5 {
  position: relative;
  height: 7px;
  width: 7px;
  background-color: #26b1c4;
  border-radius: 50%;
  margin-top: 8px;
  margin-right: 42px;
  margin-left: 98px;
}

.scicat:hover .circle5:before{
  position: absolute;
  content: '';
  height: calc(5% + 10px); 
  width: calc(5% + 10px); 
  border: 1px dashed #26b1c4;
  top: -2.5px;
  left: -2.5px;
  border-radius: inherit;
  animation: spin 10s linear infinite;
}
.formcat{
  display: flex;
  justify-content: flex-end;
}
.circle6 {
  position: relative;
  height: 7px;
  width: 7px;
  background-color: #dc217a;
  border-radius: 50%;
  margin-top: 8px;
  margin-right: 42px;
  margin-left: 141px;
}

.formcat:hover .circle6:before{
  position: absolute;
  content: '';
  height: calc(5% + 10px); 
  width: calc(5% + 10px); 
  border: 1px dashed #dc217a;
  top: -2.5px;
  left: -2.5px;
  border-radius: inherit;
  animation: spin 10s linear infinite;
}
.partnercat{
  display: flex;
  justify-content: flex-end;
}
.circle7 {
  position: relative;
  height: 7px;
  width: 7px;
  background-color: #e3b510;
  border-radius: 50%;
  margin-top: 8px;
  margin-right: 42px;
  margin-left: 142px;
}

.partnercat:hover .circle7:before{
  position: absolute;
  content: '';
  height: calc(5% + 10px); 
  width: calc(5% + 10px); 
  border: 1px dashed #e3b510;
  top: -2.5px;
  left: -2.5px;
  border-radius: inherit;
  animation: spin 10s linear infinite;
}
.sportcat{
  display: flex;
  justify-content: flex-end;
}
.circle8 {
  position: relative;
  height: 7px;
  width: 7px;
  background-color: #e15d14;
  border-radius: 50%;
  margin-top: 8px;
  margin-right: 42px;
  margin-left: 192px;
}

.sportcat:hover .circle8:before{
  position: absolute;
  content: '';
  height: calc(5% + 10px); 
  width: calc(5% + 10px); 
  border: 1px dashed #e15d14;
  top: -2.5px;
  left: -2.5px;
  border-radius: inherit;
  animation: spin 10s linear infinite;
}
.univercat{
  display: flex;
  justify-content: flex-end;
}
.circle9 {
  position: relative;
  height: 7px;
  width: 7px;
  background-color: #e15d50;
  border-radius: 50%;
  margin-top: 8px;
  margin-right: 42px;
  margin-left: 63px;
}

.univercat:hover .circle9:before{
  position: absolute;
  content: '';
  height: calc(5% + 10px); 
  width: calc(5% + 10px); 
  border: 1px dashed #e15d50;
  top: -2.5px;
  left: -2.5px;
  border-radius: inherit;
  animation: spin 10s linear infinite;
}
@keyframes spin { 
  100% { 
    transform: rotateZ(360deg); 
  }
}

.newsmainpage{
  display: grid;
  grid-template-columns: 862px 348px;
  justify-content: center;
  margin-left:45px;
}
.catdate{
  display: flex;
}
.catdate p{
  color: rgba(34, 34, 34, 0.6);
  letter-spacing: 0.02em;
  font-size: 15px;
  line-height: 18px;
  margin-left: 17px;
  margin-top: 3px;
}
.newsbtnpage {
  padding-top:17px;
  padding-left:6px;
  padding-bottom: 20px;
  display: inline-block;
  font-weight: bold;
  font-size: 28px;
  line-height: 132%;
  letter-spacing: 0.01em;
  color: #222222;
}
.newsimgpage{
  width: 800px;
  height: 535px;
  background: grey;
  border-radius: 15px;
  color: #fff;
  font-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 0 5px;
  margin-bottom: 20px;
}

.newslistpage p{
  margin:0 5px;
  font-size: 17px;
  line-height: 27px;
}
.play1{
  padding-left: 160px;
  padding-top:109.5px;
}

.videomain{
  display: grid;
  grid-template-columns: 1210px;
  justify-content: center;
}

.videolist{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.video_item{
  width: 350px;
  height: 404.21px;
  margin: 0 10px;
}

.videoimg{
  width: 350px;
  height: 236.41px;
  background: grey;
  border-radius: 15px;
  color: #fff;
  font-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 0 5px;
}
.video_overlay{
  opacity: 0;
  position: absolute;
  top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;  
}

.videobtn {
  padding-top:23px;
  padding-left:6px;
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #222222;
}
.videobtn:hover{
  color: #23CA66;
}

.video_overlay{
  opacity: 0;
  position: absolute;
  top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;  
}
.video_overlay:hover{
  background: linear-gradient(0deg, rgba(35, 202, 102, 0.8), rgba(35, 202, 102, 0.8));
  opacity: 0.87;

}
.video_item p{
  padding-top:22px;
  padding-left:6px;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #222222;
  opacity: 0.7;
}
#vk_groups{
  padding-top:50px;
}

.ads_item1 {
    width: 595px;
    height: auto;
    background: #FBFEFF;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

}

.ads_topic1 {
    flex: 0 0 auto;
    font-weight: 600;
    font-size: 23px;
    line-height: 32px;
    color: #222222;
    margin-left: 40px;
    margin-right: 25px;
    margin-top: 31px;
}

.ads_content1 {
    flex: 1 0 auto;
    font-size: 16px;
    line-height: 30px;
    color: #6E6E6E;
    margin-left: 40px;
    margin-right:25px;
    margin-top: 12px;
}

.ads_line {
    flex: 0 0 auto;
    margin-top: 21px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.ads_bottom {
    display: flex;
    margin-left: 40px;
    margin-bottom: 17px;
}

.author {
    font-size: 16px;
    line-height: 100%;
    color: #252525;
    margin-top: 13px;
}

.circle {
    position: relative;
    height: 4px;
    width: 4px;
    background-color: #10C558;
    border-radius: 50%;
    margin-top: 19px;
    margin-right: 8px;
    margin-left: 8px;
}

.ads_bottom p {
    font-size: 16px;
    line-height: 100%;
    color: #6E6E6E;
    margin-top: 13px;
}

.ads_btn1 {
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #FFFFFF;
    padding: 8px 14px 7px 14px;
    border: 1.5px solid #10C558;
    background-color: #10C558;
    margin-left: 136px;
    margin-top: 6px;
}

    .ads_btn1:hover {
        color: #10C558;
        border: 1.5px solid #10C558;
        background-color: #fff;
    }

.ads_main1 {
    display: grid;
    grid-template-columns: 1210px;
    justify-content: center;
}

.ads_list1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.event_main {
    display: grid;
    grid-template-columns: 862px 318px;
    justify-content: center;
}

.event_top {
    display: flex;
    flex: 0 0 auto;
}

.event_img {
    width: 187px;
    height: 264px;
    background: grey;
    border-radius: 15px;
    margin-top: 31px;
    margin-right: 26px;
    margin-left: 40px;
}

.event_item {
    width: 862px;
    height: auto;
    background: #FBFEFF;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.event_topic {
    font-weight: 600;
    font-size: 23px;
    line-height: 32px;
    color: #222222;
    margin-top: 31px;
    margin-right: 40px;
}

.event_content {
    flex: 1 0 auto;
    font-size: 16px;
    line-height: 30px;
    color: #6E6E6E;
    margin-top: 12px;
    margin-right: 40px;
    display: grid;
    grid-template-columns: 569px;
}

.event_line {
    flex: 0 0 auto;
    margin-top: 21px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.event_bottom {
    display: flex;
    margin-left: 40px;
    margin-bottom: 17px;
}

.start {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    margin-top: 13px;
}

.horisontline {
    background: #10C558;
    border-radius: 4px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    width: 20px;
    height: 2.5px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.end {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    margin-top: 13px;
}

.event_bottom p {
    font-size: 16px;
    line-height: 100%;
    color: #6E6E6E;
    padding-left: 4px;
    margin-top: 13px;
}

#vk_groups1 {
    padding-left: 20px;
}

.videomainpage {
    display: grid;
    grid-template-columns: 862px 348px;
    justify-content: center;
    margin-left: 45px;
}

.videobtnpage {
    padding-top: 17px;
    padding-left: 6px;
    padding-bottom: 20px;
    display: inline-block;
    font-weight: bold;
    font-size: 28px;
    line-height: 132%;
    letter-spacing: 0.01em;
    color: #222222;
}

.videoimgpage {
    width: 800px;
    height: 535px;
    background: grey;
    border-radius: 15px;
    color: #fff;
    font-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin: 0 5px;
    margin-bottom: 20px;
}

.videolistpage p {
    margin: 0 5px;
    font-size: 17px;
    line-height: 27px;
}

.adsmainpage {
    display: grid;
    grid-template-columns: 862px 348px;
    justify-content: center;
    margin-left: 45px;
    margin-bottom:20px;
}

.adsbtnpage {
    padding-top: 17px;
    padding-left: 6px;
    padding-bottom: 20px;
    display: inline-block;
    font-weight: bold;
    font-size: 28px;
    line-height: 132%;
    letter-spacing: 0.01em;
    color: #222222;
}

.adsimgpage {
    width: 800px;
    height: 535px;
    background: grey;
    border-radius: 15px;
    color: #fff;
    font-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin: 0 5px;
    margin-bottom: 20px;
}

.adslistpage p {
    margin: 0 5px;
    font-size: 17px;
    line-height: 27px;
    padding-right: 10px;
}

.catdateads {
    display: flex;
}

    .catdateads p {
        color: rgba(34, 34, 34, 0.6);
        letter-spacing: 0.02em;
        font-size: 15px;
        line-height: 18px;
        margin-top: 12px;
    }

.download {
    margin-bottom: 25px;
    margin-left: 5px;
}
    .download ul li {
        margin-top: 7px;
        margin-bottom: 7px;
    }
    .download ul li a {
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        color: #31426A;
    }


.eventmainpage {
    display: grid;
    grid-template-columns: 862px 348px;
    justify-content: center;
    margin-left: 45px;
}

.eventbtnpage {
    padding-top: 17px;
    padding-left: 6px;
    padding-bottom: 20px;
    display: inline-block;
    font-weight: bold;
    font-size: 28px;
    line-height: 132%;
    letter-spacing: 0.01em;
    color: #222222;
}

.eventimgpage {
    width: 800px;
    height: 535px;
    background: grey;
    border-radius: 15px;
    color: #fff;
    font-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin: 0 5px;
    margin-bottom: 20px;
}

.eventlistpage p {
    margin: 0 5px;
    font-size: 17px;
    line-height: 27px;
}

.eventcatdate {
    display: flex;
    margin-left: 8px;
}

    .eventcatdate p {
        color: rgba(34, 34, 34, 0.6);
        letter-spacing: 0.02em;
        font-size: 15px;
        line-height: 18px;
        margin-top: 13.5px;
    }

.tablemainpage {
    display: grid;
    grid-template-columns: 1210px;
    justify-content: center;
    margin-left: 45px;
    margin-bottom: 30px;
}

.tablelistpage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

    .tablelistpage p {
        margin: 0 5px;
        font-size: 17px;
        line-height: 27px;
    }

.post {
    font-weight: bold;
    color: #31426A;
}

.post1 {
    font-weight: bold;
    color: #31426A;
    padding-top: 24px;
}

.glav {
    font-size: 20px;
}

.zagolovok {
    display: grid;
    justify-content: center;
    font-size: 40px;
    color: #31426A;
}

.zagline {
    width: 350px;
    border-top: 3px solid #2DFF81;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 45px;
}

/*******ПОДВАЛ********/
footer {
    flex: 0 0 auto;
    width: 100%;
    background: radial-gradient(1120.00px at 50% -31.84%, #1F1A53 0%, #120F37 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
}

.top-footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 71px;
}

.footer1 {
    margin-right: 36px;
    margin-top: 59px;
}

.social {
    display: flex;
    flex-direction: row;
    padding-top: 17px;
}

a.vk {
    background: url(img/social_icons/Group.png); /* Путь к файлу с исходным  рисунком */
    display: block; /* Ссылка как блочный элемент */
    width: 32px; /* Ширина рисунка в пикселах */
    height: 32px; /* Высота рисунка */
    margin-right: 8px;
}

    a.vk:hover {
        background-position: 0 -32px;
    }

a.instagram {
    background: url(img/social_icons/Group_2.png); /* Путь к файлу с исходным  рисунком */
    display: block; /* Ссылка как блочный элемент */
    width: 32px; /* Ширина рисунка в пикселах */
    height: 32px; /* Высота рисунка */
    margin-right: 8px;
}

    a.instagram:hover {
        background-position: 0 -32px;
    }

a.moroshka {
    background: url(img/social_icons/Group_3.png); /* Путь к файлу с исходным  рисунком */
    display: block; /* Ссылка как блочный элемент */
    width: 32px; /* Ширина рисунка в пикселах */
    height: 32px; /* Высота рисунка */
}

    a.moroshka:hover {
        background-position: 0 -32px;
    }

.footer_logo {
    text-transform: uppercase;
    color: #fff;
    font-size: 27px;
    font-weight: normal;
    line-height: 32px;
    margin-bottom: 29px;
}

.textinfo {
    color: #fff;
    font-size: 16px;
    line-height: 165%;
    margin-bottom: 24px;
    /*margin-right:15px;*/
}

.footer2 {
    margin-right: 5px;
    margin-top: 59px;
}

.poleznoe {
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 34px;
    /*margin-right:114px;*/
}

.sspoleznoe ul li a {
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}

    .sspoleznoe ul li a:hover {
        text-decoration: underline;
        color: #2DFF81;
    }

.footer3 {
    margin-right: 52px;
    margin-top: 59px;
}

.contacts {
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 34px;
    /*margin-right:52px;*/
}

.contactinfo {
    font-weight: 500;
    font-size: 16px;
    line-height: 165%;
}

    .contactinfo p {
        color: #fff;
    }

.colortext {
    font-weight: 500;
    color: #2DFF81;
}

.footer4 {
    margin-top: 59px;
}

.bottom-footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.bottom-footer1 {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-right: 571px;
}

/*******ПОДВАЛ********/
footer{
	flex: 0 0 auto;
	width: 100%; 
	background: radial-gradient(1120.00px at 50% -31.84%, #1F1A53 0%, #120F37 100%);
	display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
}  

.top-footer{
	display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom:71px;
}

.footer1{
	margin-right: 36px;
	margin-top:59px;
}
.social{
	display: flex;
    flex-direction: row;
	padding-top:17px;
}

a.vk{
	background: url(img/social_icons/Group.png); /* Путь к файлу с исходным  рисунком */
    display: block; /* Ссылка как блочный элемент */
    width:32px; /* Ширина рисунка в пикселах */
    height: 32px; /* Высота рисунка */
    margin-right:8px;
}
a.vk:hover{
	background-position: 0 -32px;
}

a.instagram{
	background: url(img/social_icons/Group_2.png); /* Путь к файлу с исходным  рисунком */
    display: block; /* Ссылка как блочный элемент */
    width:32px; /* Ширина рисунка в пикселах */
    height: 32px; /* Высота рисунка */
    margin-right:8px;
}
a.instagram:hover{
	background-position: 0 -32px;
}

a.moroshka{
	background: url(img/social_icons/Group_3.png); /* Путь к файлу с исходным  рисунком */
    display: block; /* Ссылка как блочный элемент */
    width:32px; /* Ширина рисунка в пикселах */
    height: 32px; /* Высота рисунка */
}
a.moroshka:hover{
	background-position: 0 -32px;
}
.footer_logo {
	text-transform: uppercase;
	color:#fff;
	font-size: 27px;
	font-weight: normal;
	line-height: 32px;
	margin-bottom: 29px;
}
.textinfo{
 	color:#fff;
	font-size: 16px;
	line-height: 165%;
	margin-bottom:24px;
	/*margin-right:15px;*/
}

.footer2{
	margin-right: 5px;
	margin-top:59px;	
}
.poleznoe{
	font-size: 18px;
	font-weight: bold;
	line-height: 21px;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	margin-bottom:34px;
	/*margin-right:114px;*/
}
.sspoleznoe ul li a{
	font-size: 16px;
	line-height: 30px;
	color: #FFFFFF;
}
.sspoleznoe ul li a:hover{
	text-decoration: underline;
	color: #2DFF81;
}

.footer3 {
	margin-right: 52px;
	margin-top:59px;
}
.contacts{
	font-size: 18px;
	font-weight: bold;
	line-height: 21px;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	margin-bottom:34px;
	/*margin-right:52px;*/
}
.contactinfo{
	font-weight: 500;
	font-size: 16px;
	line-height: 165%;
}
.contactinfo p{
	color: #fff;
}
.colortext{
	font-weight: 500;
	color: #2DFF81;
}

.footer4{
	
	margin-top:59px;
}

.bottom-footer{
	display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	
}

.bottom-footer1{
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	margin-right:571px;
}

.searchmainpage {
    display: grid;
    grid-template-columns: 862px 348px;
    justify-content: center;
    margin-left: 45px;
}

.search_news {
    margin-bottom: 20px;
}

    .search_news h2 {
        color: #31426A;
        margin-bottom: 15px;
    }

    .search_news a {
        color: #222;
    }

        .search_news a:hover {
            color: #2DFF81;
        }

.search_ads {
    margin-bottom: 20px;
}

    .search_ads h2 {
        color: #31426A;
        margin-bottom: 15px;
    }

    .search_ads a {
        color: #222;
    }

        .search_ads a:hover {
            color: #2DFF81;
        }

.search_event {
    margin-bottom: 20px;
}

    .search_event h2 {
        color: #31426A;
        margin-bottom: 15px;
    }

    .search_event a {
        color: #222;
    }

        .search_event a:hover {
            color: #2DFF81;
        }

.search_video {
    margin-bottom: 20px;
}

    .search_video h2 {
        color: #31426A;
        margin-bottom: 15px;
    }

    .search_video a {
        color: #222;
    }

        .search_video a:hover {
            color: #2DFF81;
        }




