@model PagedList.IPagedList<Diploma.Models.Video>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Видео";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<div class="breadcr">
    <ul class="breadcrumbs">
        <li><a href="/">Главная</a></li>
        <li><a href="#">Видео</a></li>
    </ul>
</div>

<div class="videomain">
    <div class="videolist">
        @foreach (var v in Model)
        {
            <div class="video_item">
                <div class="videocontent">
                    <a href="/video?id=@v.ID">
                        <div class="videoimg" style="background-image: url(https://img.youtube.com/vi/@v.YoutubeID/maxresdefault.jpg);">
                            <div class="video_overlay">
                                <img src="~/Content/Images/кнопка_плей.png" class="play1">
                            </div>
                        </div>
                    </a>
                </div>
                <a href="/video?id=@v.ID" class="videobtn">@v.Title</a>
                <p>@v.Date.ToString("M"), @v.Date.ToString("yyyy")</p>
            </div>
        }
    </div>
</div>

        @Html.PagedListPager(Model, page => Url.Action("GetAllVideos", new { page }),
            new PagedListRenderOptions { LinkToPreviousPageFormat = "<", LinkToNextPageFormat = ">",
                MaximumPageNumbersToDisplay = 3, DisplayEllipsesWhenNotShowingAllPageNumbers = false,
                    DisplayLinkToLastPage = PagedListDisplayMode.Never, DisplayLinkToFirstPage = PagedListDisplayMode.Never})
