
@{
    ViewBag.Title = "Режим работы дирекции";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<div class="breadcr">
    <ul class="breadcrumbs">
        <li><a href="/">Главная</a></li>
        <li><a href="#">Режим работы</a></li>
    </ul>
</div>
<div class="zagolovok">
    <p>Режим работы дирекции ФТИ</p>
    <div class="zagline"></div>
</div>

<div class="tablemainpage">
    <div class="tablelistpage">
        <div class="dima">
            <div class="post">Директор</div>
            <p>Балашов Дмитрий Игоревич</p>
            <p>Часы приёма:</p>
            <p>ПН 13:30-15:00</p>
            <p>ЧТ 11:30-13:00</p>
            </br>
            <div class="post">Зам. директора по воспитательной работе</div>
            <p>Мошкина Елена Викторовна</p>
            <p>Часы приёма:</p>
            <p>СР 13:00-15:00</p>
            <p>ЧТ 12:00-14:00</p>
            </br>
            <div class="post">Зам. директора по учебной работе</div>
            <p>Березина Ольга Яковлевна</p>
            <p>Часы приёма:</p>
            <p>ВТ 14:30-15:30</p>
            </br>
            <div class="post">Специалист дирекции</div>
            <p>Киселева Юлия Юрьевна</p>
            <p>Часы приёма:</p>
            <p>ПН-ПТ 10:00-16:00</p>
            </br>
            <div class="post">Специалист дирекции, отвечающий за все виды практик (находится в 141 каб.) </div>
            <p>Лаптева Светлана Ивановна</p>
            <p>Часы приёма:</p>
            <p>ПН-ПТ 10:00-16:00</p>
        </div>
        <div class="marina">
            <div class="glav">Для направлений бакалавриата и магистратуры (очная/заочные формы)</div>
            </br>
            <p>1. «Информатика и вычислительная техника»</p>
            <p>2. «Приборостроение»</p>
            <p>3. «Техническая физика»</p>
            <p>4. «Педагогическое образование»</p>
            </br>
            <div class="post">Ваш специалист по работе со студентами </div>
            <p>Подойникова Марина Викторовна </p>
            <p>Часы приёма:</p>
            <p>ПН 12:00-17:30</p>
            <p>ВТ 09:30-15:00</p>
            <p>СР 12:00-17:30</p>
            <p>ЧТ 09:30-15:00</p>
            <p>ПТ 10:00-16:00</p>
        </div>
        <div class="vika">
            <div class="glav">Для направлений бакалавриата и магистратуры (очная/заочные формы)</div>
            </br>
            <p>1. «Электроника и наноэлектроника»</p>
            <p>2. «Теплоэнергетика и теплотехника»</p>
            <p>3. «Электроэнергетика и электротехника»</p>
            </br>
            <div class="post1">Ваш специалист по работе со студентами </div>
            <p>Ефремова Виктория Владимировна </p>
            <p>Часы приёма:</p>
            <p>ПН 10:00-15:30</p>
            <p>ВТ 12:00-17:30</p>
            <p>СР 10:00-15:30</p>
            <p>ЧТ 12:00-17:30</p>
            <p>ПТ 10:00-16:00</p>
        </div>
    </div>
</div>

