
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestVideo</title>
</head>
<body>
    <div>
        <iframe type="text/html" width="640" height="385" src="https://www.youtube.com/embed/XKkKfjM7XpE" frameborder="0"></iframe>
    </div>
</body>
</html>
